<%= tag.div class: "card float-left m-3 address-card #{style_class}" do %>

  <%= tag.section class: "card-body" do %>
    <%= tag.h5 class: "card-title" do %>
      <%= address.nickname %>
    <% end %>

    <p>Address:<br/>
    <p><%= address.street_address %></p>
    <p><%= address.city %></p>
    <p><%= address.state %></p>
    <p><%= address.zip %></p>



    <% if address.shipped_to? == false %>
      <p><%= link_to "Edit", edit_profile_address_path(address.id)%></p>
      <p><%= link_to "Delete", profile_address_path(address), method: :delete, data: {confirm: "WARNING: Deleting this address will cancel all orders associated with it. \n Are you sure you want to delete this address?"} %></p>
    <% end %>

  <% end %>
<% end %>
